@import "bootstrap";
@import "reviews";

.profile-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.no-decoration {
  text-decoration: none;
  color: inherit;
}

.no-decoration:hover {
  text-decoration: underline;
  color: gray;
}
